image: node:20

cache:
  key:
    files: [package-lock.json]
  paths:
    - node_modules/
    - .npm/

stages: [validate, test, build, release, deploy]

install:
  stage: .pre
  script:
    - npm ci --cache .npm --prefer-offline

.skip_release_rules: &skip_release_rules
  - if: '$CI_COMMIT_TAG'
    when: never
  - if: '$CI_COMMIT_TITLE =~ /^chore: release/'
    when: never
  - when: on_success

lint:
  stage: validate
  rules: *skip_release_rules
  script:
    - npm run lint

unit-test:
  stage: test
  rules: *skip_release_rules
  script:
    - npm test

build-image:
  stage: build
  rules: *skip_release_rules
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
    IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker image build --platform=linux/amd64 -t $IMAGE_TAG -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE --all-tags

release:
  stage: release
  when: manual
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_COMMIT_TAG == null && $CI_COMMIT_TITLE !~ /^chore: release/'
  before_script:
    - git config user.email "$GITLAB_USER_EMAIL"
    - git config user.name "$GITLAB_USER_NAME"
    - git remote set-url origin "https://gitlab-ci-token:$GITLAB_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
    - git checkout "$CI_COMMIT_BRANCH"
    - git pull origin "$CI_COMMIT_BRANCH" --rebase
  script:
    - npx --yes release-it --ci

deploy:
  stage: deploy
  when: manual
  rules:
    - when: manual
  script:
    - echo "Deploy placeholder"
